.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.whatsapp-icon:hover {
  background-color: #128c7e;
}
